h1{
color: rgb(255, 255, 255);
font-size: x-large;
text-align: center;


}
body{
    text-align: center;
    background-color: lightgrey;
    font-family: Arial, sans-serif;
color: rgb(102, 100, 126);
}